<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>849549790181-4bnmac4e933jnmoaanu6k4dpqv0c7td7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.849549790181-4bnmac4e933jnmoaanu6k4dpqv0c7td7</string>
	<key>API_KEY</key>
	<string>AIzaSyCAkgeFZTCkBAIAXbmWBP1BRYiKH3KNHB0</string>
	<key>GCM_SENDER_ID</key>
	<string>849549790181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mlscApp</string>
	<key>PROJECT_ID</key>
	<string>mlsc-app</string>
	<key>STORAGE_BUCKET</key>
	<string>mlsc-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:849549790181:ios:4dd3e45f117b71adc1fd0c</string>
</dict>
</plist>